[user]
name = "Felipe Sere"
email = "github@felipesere.com"

[ui]
editor = "nvim"
default-command = ["log", "--limit", "10"]
diff-editor = ":builtin"

[[--scope]]
--when.commands = ["diff", "show"]
[--scope.ui]
pager = "delta"
diff-formatter = ":git"

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.ago()'

[templates]
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
git_push_bookmark = '"felipesere/push-" ++ change_id.short()'

[git]
sign-on-push = true

[aliases]
l = ["log", "-n", "20"]
ll = ["log", "-n", "20", "-r", "::trunk() | ::@"]
lll = ["log", "-r", "::trunk() | ::@"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
tug- = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
up = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
jj git fetch && jj new trunk
""", ""]
view-pr = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
#!/usr/bin/env bash

NEAREST_BOOKMARK=$(jj log --no-graph -r 'near_bookmark' -T 'bookmarks' | sed 's/\\*//')
BOOKMARK="${1:-$NEAREST_BOOKMARK}"

gh pr view $BOOKMARK -w
""",
  "",
]
create-pr = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
#!/usr/bin/env bash
branch="$(jj repo-trunk)"

gh pr create \
 --head $(jj log -r "${1:-@}" --no-graph --color=never -T 'bookmarks') --base "${branch%@origin}" --draft --fill-first
""",
  "",
]
#    ^^
# This last empty string will become "$0" in bash, so your actual arguments
# are all included in "$@" and start at "$1" as expected.
repo-trunk = [
  "log",
  "--revisions",
  "trunk()",
  "--no-graph",
  "--color=never",
  "-T",
  "bookmarks",
]

prs = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
  #!/usr/bin/env bash
   PR_BOOKMARK=$(gh pr list --json number,title,headRefName \
         | fzj --format '#{number} {title}'\
         | jq -r '.headRefName')
  jj bookmark track "$PR_BOOKMARK" --remote=origin
  jj new $PR_BOOKMARK
""", ""]

ci = [
   "util",
   "exec",
   "--",
   "bash",
   "-c",
   """
   #!/usr/bin/env bash
   if jj root >/dev/null 2>&1; then
      repo=$(basename $(jj root))
      open "https://app.circleci.com/pipelines/github/TrueLayer/$repo"
   fi
""", ""]

[revset-aliases]
bot_author = '(author(tl-renovate) | author(dependabot))'
trunk = 'trunk()'
merged = '::trunk()'
near_bookmark = 'latest(::@ & bookmarks())'
proper_tags = 'tags(regex:"v\\d+.\\d+.\\d+$")'
'around(r, depth)' =  'ancestors(r, depth) | descendants(r, depth)'
'around(r)' =  'ancestors(r, 5) | descendants(r, 5)'
'around_fork(left, right)' = 'around(fork_point(left | right), 5) | left | right'
eops = 'author_name(substring-i:"felipe") | author_name(substring-i:"eirik") | author_name(substring-i:"weichung")'
