[user]
name = "Felipe Sere"
email = "github@felipesere.com"

[ui]
editor = "nvim"
default-command = ["log", "--limit", "10"]
diff-editor = ":builtin"


[[--scope]]
--when.commands = ["diff", "show"]

[--scope.ui]
# https://github.com/jj-vcs/jj/blob/v0.25.0/docs/config.md#processing-contents-to-be-paged
pager = "delta"
# NOTE: this is required when using `delta` as a pager
diff-formatter = ":git"

[merge-tools.nvim]
prgram = "nvim"
edit-args = ["-c", "DiffEditor $left $right $output"]

[template-aliases]
'format_timestamp(timestamp)' = 'timestamp.ago()'

[templates]
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[git]
sign-on-push = true

[aliases]
l = ["log", "-n", "20"]
ll = ["log", "-n", "20", "-r", "::trunk() | ::@"]
lll = ["log", "-r", "::trunk() | ::@"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
tug- = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
up = ["util", "exec", "--", "bash", "-c", """
#!/usr/bin/env bash
jj git fetch && jj new trunk
""", ""]
view-pr = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
#!/usr/bin/env bash
gh pr view $(jj log --no-graph -r 'near_bookmark' -T 'bookmarks' | sed 's/\\*//') -w
""",
  "",
]
#    ^^
# This last empty string will become "$0" in bash, so your actual arguments
# are all included in "$@" and start at "$1" as expected.

[revset-aliases]
bot_author = '(author(tl-renovate) | author(dependabot))'
trunk = 'trunk()'
near_bookmark = 'latest(::@ & bookmarks())'
proper_tags = 'tags(regex:"v\\d+.\\d+.\\d+$")'
immutable_heads = "builtin_immutable_heads() && proper_tags()"
'around(r, depth)' =  'ancestors(r, depth) | descendants(r, depth)'
'around(r)' =  'ancestors(r, 5) | descendants(r, 5)'
'around_fork(left, right)' = 'around(fork_point(left | right), 5) | left | right'
